# Dependencias
node_modules/
**/node_modules/

# Variables de entorno
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Builds
dist/
build/
**/dist/
**/build/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
**/prisma/.env

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
*.pid